@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 5.9375rem;
  text-align: center;
  padding-left: 5rem;
  padding-right: 4rem;



}


.contact-button {
  background-color: #C93828;

  border: none;
  padding: 11px 21px;


  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.05px;
  text-transform: uppercase;







  display: inline-block;
  /* width: 8em;
  height: 2.6em; */

  /* margin: 20px; */
  position: relative;
  overflow: hidden;


  transition: color .5s;
  z-index: 1;

}

/* .contact-button:hover {
  background-color: #fff;
  color: #C93828;
  border: 1px solid #C93828;
} */



.contact-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  height: 150px;

  width: 200px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: all .7s;
}









.contact-button:hover {
  color: #C93828;
  border: 2px solid #CDBDB1;
}


.contact-button:hover:before {
  top: -30px;
  left: -30px;
}

.contact-button:active:before {
  background: #C93828;
  transition: background 0s;
}







.navbar-pages {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.navbar-pages li {
  margin-right: 10px;
  position: relative;
  text-align: center;


}

.navbar-pages li:hover .dropdown-content {
  display: block;
}

.navbar-pages a {

  color: #313D48;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 3px;
}

.navbar-pages a:hover {

  border-bottom: 2px solid #C93828;


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px;
}

.dropdown-content a {
  color: #333;
  padding: 5px 0;
  display: block;
  text-decoration: none;
}




/* ========================================testimonial section starts here=================================== */

.testi-border {
  padding-top: 5vh;
  padding-bottom: 5vh;
}


.test-container {
  padding: 2rem;
  background: url(../imgs/Section.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  /* height: 90vh; */
  object-fit: cover;
  display: flex;
  gap: 2rem;


}

.test-container .left-testi {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;

  justify-content: center;
  padding: 1rem 0rem 1rem 4.5rem;
  gap: 1.5rem;

}

.test-container .left-testi h1 {


  color: #FFF;
  font-family: 'Lato' sans-serif;
  font-size: 57px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -2.85px;



}

.test-container .left-testi p {
  color: #B2BDC6;
  font-family: 'Lato' sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 2.3px;
  text-transform: uppercase;
}

.test-container .left-testi span {
  color: #B2BDC6;
  font-family: 'Lato' sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}


.test-container .left-testi .view-more {
  padding: 15px 16px;
  background-color: #C93828;
  text-decoration: none;
  color: #FFF;
  width: 157px;
  color: #FFF;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;




  height: 2.6em;

  /* margin: 20px; */
  position: relative;
  overflow: hidden;
  border: none;

  transition: color .5s;
  z-index: 1;

}




.test-container .left-testi .view-more:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  height: 150px;

  width: 200px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: all .7s;
}




.test-container .left-testi .view-more:hover {
  color: #C93828;
  border: 2px solid #CDBDB1;
}


.test-container .left-testi .view-more:hover:before {
  top: -30px;
  left: -30px;
}

.test-container .left-testi .view-more:active:before {
  background: #C93828;
  transition: background 0s;
}










.test-container .right-testi {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  padding-top: 7rem;


}




.test-container .right-testi .white-box {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  padding: 3rem;
}

/* 
.test-container .right-testi .white-box .pseudo {
  display: flex;
  flex-direction: column;
  align-items: end;
} */

.testi-review {
  display: flex;
  flex-direction: column;
  display: none;
  background-color: #ffffff;
  padding: 2.5rem;

}

.test-container .right-testi .white-box h1 {
  color: #657078;
  font-family: 'Lato' sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}




.test-container .right-testi .white-box h3 {
  color: #000;
  font-family: 'Lato' sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1px;
}

.test-container .right-testi .white-box h1 p {
  color: #657078;
  font-family: 'Lato' sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}


.test-container .right-testi .white-box .person {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;

}

.visible {
  display: block;

}

.checkbox-input label {


  position: relative;

}

.checkbox-input {
  display: flex;
  gap: 0.5rem;
}

.checkbox-input input {
  opacity: 0;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 1;

}

.checkbox-input span {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;

  display: inline-block;
}


.checkbox-input input:checked~span {

  background-color: #C93828 !important;


}



/* ================================================enquiry form section starts  here======================== */

.inquiry-sec {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: row;
  background: url(../imgs/enquiry-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
 padding-bottom: 3rem;

}

.inquiry-sec .left-enquiry {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-content: space-around;
  justify-content: center;
  align-items: end;
}

.contact-right.wow.fadeInRight {
  width: 75%;
}

.inquiry-sec .left-enquiry form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.inquiry-sec .left-enquiry h1 {
  color: #181A20;
  font-family: 'Lato' sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 1rem;
}





.contact-right form .form-group {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.contact-right form .form-group input,
.contact-right form .form-group textarea {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  background-color: #FFF;

  border: 2px solid #CDBDB1;

  color: black;
  outline: none;
  transition: all .3s ease;

}

.contact-right form .form-group input:focus,
.contact-right form .form-group textarea:focus {
  border-color: gray;

}

.contact-right form .form-group input::placeholder,
.contact-right form .form-group textarea::placeholder {
  color: #A9ADAB;
}

.contact-right form .form-group input:focus::placeholder,
.contact-right form .form-group textarea:focus::placeholder {
  opacity: 0;
}

.contact-right form .form-group textarea {

  width: 100%;
  height: 7rem;
  padding-top: 1rem;
  color: #A9ADAB;
  font-family: 'Lato' sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;

}


.button {
  color: #fff;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  width: 8em;
  height: 2.6em;

  /* margin: 20px; */
  position: relative;
  overflow: hidden;
  border: none;

  transition: color .5s;
  z-index: 1;
  background-color: #C93828;

  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;

}


.hover {
  position: relative;
  overflow: hidden;
  border: none;
  color: #FFF;

  transition: color .5s;
  z-index: 1;
  background-color: #C93828;

  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;

}

.hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  height: 150px;

  width: 200px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: all .7s;
}

.hover:hover {
  color: #C93828;
  border: 2px solid #CDBDB1;
}


.hover:hover:before {
  top: -30px;
  left: -30px;
}

.hover:active:before {
  background: #C93828;
  transition: background 0s;
}


.button:hover {
  color: #C93828;
  border: 2px solid #CDBDB1;
}


.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  height: 150px;

  width: 200px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: all .7s;
}

.button:hover {
  color: #C93828;
  border: 2px solid #CDBDB1;
}


.button:hover:before {
  top: -30px;
  left: -30px;
}

.button:active:before {
  background: #C93828;
  transition: background 0s;
}



.right-equiry {
  padding: 2rem 0rem 2rem 4rem;
}


.middle-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.main-subscribe-1 {
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  translate: 50px -15px;
  overflow: hidden;
}


.subscribe-box {


  background: url(../imgs/experience-bg-shape.png.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  gap: 14rem;

  flex-direction: row;

}

.subscribe-box .subs-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.subscribe-box .subs-text h2 {
  color: #181A20;
  font-family: 'Lato' sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.subscribe-box .subs-text p {
  color: #181A20;
  font-family: 'Lato' sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}




.subscribe-box .input-box input {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  background-color: #F6F8FA;

  border: none;

  color: black;
  outline: none;
  transition: all .3s ease;

}

.subscribe-box .input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subscribe-box .input-box button {
  padding: 11px 36px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: center;
}


/* ====================================================footer section starts here-=============================== */

footer {
  background-color: #181A20;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 5rem 0rem 1rem 5rem;
  color: #FFFFFF;
}

footer .detail {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 4rem;

}

footer .left-footer {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-right: 1px solid rgba(255, 255, 255, 0.07);
}

footer .left-footer .social-media {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

footer .left-footer .social-media a {
  color: #FFF;
}



footer .left-footer .social-media p {
  color: #FFF;
  font-family: 'Lato' sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


footer .left-footer .pages-links-footer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  text-decoration: none;


}

footer .left-footer .pages-links-footer a {
  text-decoration: none;
  color: #BEBDBD;
  font-family: 'Lato' sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}


footer .left-footer h4 {
  color: #FFF;
  font-family: 'Lato' sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}




footer .left-footer .pages-links-footer li {
  color: #BEBDBD;
  font-family: 'Lato' sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.list-style {
  list-style: none;
}

footer .right-footer {
  display: flex;
  flex-basis: 55%;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  padding: 5rem 5rem 0rem 5rem;

}

footer .about-info,
.address-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .about-info h4,
.address-info h4 {
  color: #FFF;
  font-family: 'Lato' sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

footer .about-info p,
.address-info p {
  color: #FFF;
  font-family: 'Lato' sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;

}


.bottom-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30rem;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  padding-top: 1.5rem;
}

.contact-info {
  display: flex;
  flex-direction: row;
  gap: 2rem;

}


.email-id-1 p {
  color: #FFF;
  font-family: 'Lato' sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.num p {
  color: #FFF;
  font-family: 'Rajdhani' sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

}

/* ================================footer section end  here============== */


/* ============================================================contact us section starts here-=================== */
.head-main {
  background: url(../imgs/building-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;


}

.head-main .second-main {
  background: url(../imgs/pseudo-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.head-main .second-main h1 {
  color: #FFF;
  text-align: center;
  font-family: 'Barlow' sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.05px;
  text-transform: uppercase;
}


/* ================================================contact-us about us css end here-========================== */


/* ========================================= home page states css starts here======================== */

.main-static {
  background: url(../imgs/states-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 95vh;
}


.state-box {
  background: url(../imgs/service_box_shape1-1.png.svg);
  background-repeat: no-repeat;
  width: 100%;

}

.state-box h1 {
  color: #000;
  text-align: center;

  font-family: 'Rajdhani' 'sans-serif';
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
}

.state-box h2 {
  color: #000;
  text-align: center;
  font-family: ' Rajdhani' 'sans-serif';
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bg-white {
  background-color: #fff !important;
  box-shadow: 10px 41px 57px -17px rgba(0, 0, 0, 0.22);

}

.main-static .state-details {
  display: flex;
  flex-direction: row;
}


.main-static .left-state {
  flex-basis: 55%;
  display: flex;
  gap: 2rem;
  padding-top: 3rem;
  justify-content: center;
  flex-direction: column;

  align-items: center;
}

.main-static .first-row-states {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.main-static .second-row-states {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.main-static .first-row-first {
  width: 18rem;
  height: auto;

}

.main-static .first-row-second {
  width: 18rem;
  height: auto;

}

.main-static .second-row-first {
  width: 18rem;
  height: auto;

}

.main-static .second-row-second {
  width: 18rem;
  height: auto;

}



.padding-1 {

  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 1rem;

}

.align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}



.right-states {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 45%;
  overflow: hidden;
  /* padding-right: 7rem; */
  gap: 2rem;

}

.right-states h2 {
  color: #131313;
  font-family: ' Rajdhani' 'sans-serif';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.5px;
}

.right-states .view-more {
  padding: 15px 16px;
  background-color: #C93828;
  text-decoration: none;
  color: #FFF;
  width: 157px;

  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;


}




/* ===========================statistic section starts here=========================== */


/* ==============================gallery css starts hrre================================ */


.main-gallery {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 3rem;
}



/* ===============================================================gallery css ebds here++++++++++++ */

/* ================================our projects section  starts here================== */

.proj-main h1 {
  padding: 3rem;
  color: #000;
  text-align: center;
  font-family: ' Barlow';
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  text-align: center;
}



/* 
#buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}


.button-value {
  color: #7F7F7F;
  font-family: 'Barlow';
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140.5%;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.active {
  color: #C93828;

}

#projects {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  padding: 10px 0;
}
.hide{
  display: none;
}

.card {
  max-width: 100%;
}
.proj-main img{
  max-width: 100%;
  object-fit: contain;
} */

.filter-buttons {
  display: flex;
  padding: 2rem;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}


.filter-buttons .active {
  color: #C93828;

  border-bottom: 2px solid #C93828;
}

.filter-buttons button {
  background-color: transparent;
  border: none;
  color: #7F7F7F;
  font-family: 'Barlow';
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 140.5%;
  letter-spacing: 0.05px;
  text-transform: uppercase;

}


.project-item {
  display: none;
  display: flex;
  flex-direction: row;

}

.project-item.show {
  display: block;
}

.project-gallery {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

}